body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6px;
    margin: 0;
}
/* the start of the header links and logo */
.veryTop {
    display: flex;
    justify-content: space-between;
    font-size: 3em;
    padding-top: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 1em;
    background-color: #1f2937;
    color: #F9FAF8;
}

.veryTop img{
    font-size: 1.25em;
}

.veryTop .right-links{
    display: flex;
    gap: 1em;
}

a{
    text-decoration: none;
    color: lightgrey;
}

.top {
    background-color: #1f2937;
}

.veryTop img {
    font-weight: 900;
}

/* The start of top text */

.top-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 5em;
    margin-top: 10em;
    gap: 10em;

}

.hero-text {
    font-size: 8em;
    color: #F9FAF8;
    font-weight: 900;
}

.subtext {
    font-size: 3em;
    color: lightgrey;
}

.placeholder{
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    padding: 10em;

}

.logo-text{
    font-size: 3em;
    text-align: center;
    color: #e5e7eb;
}

.sign-up{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 0.5em;
    border: none;
    font-size: 3em;
    padding: 0.5em 1em;
}

/* The start of the random information secion */

.random-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-random{
    font-size: 4em;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.pictures{
    display: flex;
    font-size: 3em;
    gap: 2em;
}
.pictures img{
    border: 0.1em #3882F6 solid;
    border-radius: 0.5em;
}

.illustration-subtext{
    color: grey;
}

/*end of random info section */

/* start of quote section */
.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 5em;
}


.thor-quote{
    text-align: center;
    font-size: 4em;
    color: #1f2937;
    font-weight: 300;
    margin-bottom: 0;
    font-style: italic;

}

.author{
    font-size: 3em;
    font-weight: 900;
    color: #1f2937;
    align-self: flex-end;
}

/* end of quote */

.ctc-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 4em;
}

.ctc{
    display: flex;
    background-color: #3882F6;
    padding:2em 4em ;
    margin: 2em 3em;
    border-radius: 1em;
}

.subheading{
    font-size: 6em;
    margin: 0;
    color: #F9FAF8;
    font-weight: 900;
}

.extra-text{
    margin: 0;
    font-size: 3em;
    color: lightgray;
}

.ctc button{
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: 0.12em #F9FAF8 solid;
    border-radius: 0.5em;
    color: #F9FAF8;
    padding: 0.5em;
}

.bottom-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6em;
}

.sub-container{
margin: 0 6em;
}

/* end of ctc section */

/* start of footer */




